/*Index Page*/
.index-group-head {
    font-weight: bold;
}
.index-head {
    margin-bottom: 35px;
    text-align: center;
}
.index-row{
    margin: 35px 0;
}
.index-button{
    margin-top: 40px;
}
@media(max-width:575px){
    .index-group-head{
        margin-top:30px;
    }
    .index-row {
        margin: 0;
    }
}


/* generated workout page */
.ex-info{
  padding-left: 1%;
}

.workout-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout-img {
    width: 100%;
    height: auto;
}
.img-container{
    flex-basis: auto;
}

#workout-img-div{
    display: flex;
    align-content: flex-end;
    flex-basis: auto;
}

.exercise-info-div{
    flex-basis: auto;
}

/* Stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}

.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}

.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}
.twitter-typeahead{
    width: 100%;
}