/* .h2{
    text-align:center;
    margin-bottom:3%;
}

.butt{
    margin-top:1%;
}

.saveWorkout{
    width: 100%;
    text-align: center;
    margin-top: 1%;
}

.savedWorkout{
    flex-wrap: wrap;
} */

/* generated workout page */
.ex-info{
  padding-left: 1%;
}

.workout-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout-img {
    width: 100%;
    height: auto;
}
.img-container{
    flex-basis: auto;
}

#workout-img-div{
    display: flex;
    align-content: flex-end;
    flex-basis: auto;
}

.exercise-info-div{
    flex-basis: auto;
}
