{% extends "layout.html" %}

{% block title %}
{% if edit == 1 %}Edit Workout{% else %} Create Workout{% endif %}
{% endblock %}

{% block main %}

<p class="h2">{% if edit == 1 %}Edit Workout{% else %} Create Workout{% endif %}</p>

<form id="create-form" action="/create" method="post">

    {% if edit == 1 %}
        <input type="number" name="id" id="id" value="{{workout[0]['workoutID']}}" hidden/>
        <input type="number" name="edit" id="edit" value="1" hidden/>
    {% else %}
        <input type="number" name="edit" id="edit" value="0" hidden/>
    {% endif %}



    <div class="form-group">
        <label for="workoutName"><b>Workout Name</b></label>
        <input type="text" class = "form-control" id="workoutName" name="workoutName" placeholder="Workout Name"
            {% if edit == 1 %} placeholder = "{{workout[0]['workoutName']}}" value = "{{workout[0]['workoutName']}}" {% endif %}>
        <div id="name-feedback" class="invalid-feedback">
        </div>
    </div>

    <div class="form-group">
        <label for="numberExercises">Number of Exercises</label>
        <input type="number" class = "form-control" id="numberExercises" name="numberExercises" placeholder="Number of Exercises" min="1" max="12"
            {% if edit == 1 %} placeholder = "{{workout|length}}" value = "{{workout|length}}" {% endif %}>
        <div id="number-feedback" class="invalid-feedback">
        </div>
    </div>

    <br>

    {% if error == 0 %}

        {% for n in range(12) %}
            <div class="form-row" id="exercise{{n}}" name="exercise{{n}}" {% if edit != 1 or workout|length < n + 1 %} style="display: none;" {% endif %}>
                <div class="form-group col-md-6">
                    <label for="createWorkoutSelect{{n}}">Exercise {{n+1}}</label>
                    {% if edit == 1 and n < workout|length %}
                        <input type="text" id="same" name="nameActual{{n}}" value="{{ workout[n]['exerciseName'] }}" hidden>
                        <input type="text" id="same" name="groups{{n}}" value="{{ workout[n]['groups'] }}" hidden>
                        <input type="text" id="same" name="type{{n}}" value="{{ workout[n]['type'] }}" hidden>
                    {% endif %}
                    <select class="form-control" id="createWorkoutSelect{{n}}" name="createWorkoutSelect{{n}}">
                        {% if edit == 1 and n < workout|length %}
                            <option id="same" name="name{{n}}" value="same" selected>{{ workout[n]["exerciseName"] }}</option>
                        {% endif %}
                        {% for exercise in exerciseTable %}
                            <option id="{{ exercise['id'] }}" name="name{{n}}" value="{{ exercise['id'] }}">{{ exercise["name"] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="sets{{n}}">Sets</label>
                    <input id="sets{{n}}" name="sets{{n}}" class="form-control" type="number"  min="0" max="100"
                        {% if edit == 1 and n < workout|length %} value="{{ workout[n]['setCount'] }}" placeholder="{{ workout[n]['setCount'] }}"
                        {% else %} placeholder="Number of Sets" value="0"{% endif %}>
                </div>
                <div class="form-group col-md-2">
                    <label for="reps{{n}}">Reps</label>
                    <input id="reps{{n}}" name="reps{{n}}" class="form-control" type="number"  min="0" max="1000"
                        {% if edit == 1 and n < workout|length %} value='{{ workout[n]["repCount"] }}' placeholder="poop"
                        {% else %} placeholder="Number of Reps" value="0"{% endif %}>
                </div>
                <div class="form-group col-md-2">
                    <label for="weight{{n}}">Weight</label>
                    <input id="weight{{n}}" name="weight{{n}}" class="form-control" type="number"  min="0" max="5000"
                        {% if edit == 1 and n < workout|length %} value="{{ workout[n]['weight'] }}" placeholder="{{ workout[n]['weight'] }}"
                        {% else %} placeholder="Weight(lbs)" value="0"{% endif %}>
                </div>
            </div>
        {% endfor %}

        <button type="submit" id="createButton" class="btn btn-primary">Create Workout</button>

    {% else %}

        <button type="button" class="btn btn-success" id="createButton" disabled>Create Workout</button>
        <div class="alert alert-warning" id="createAlert" role="alert">
            You already have the max of 10 workouts, you need to delete some to create more
        </div>
    {% endif %}

</form>


{% endblock %}