{% extends "layout.html" %}

{% block title %}
Edit Exercise Pool
{% endblock %}

{% block main %}

<p class="h2">Edit Items in Exercise Pool</p>


<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Muscle Group</th>
            <th scope="col">Exercise Type</th>
            <th scope="col"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAll">Delete All</button></th>

            <!-- Modal -->
            <div class="modal fade" id="deleteAll" tabindex="-1" role="dialog" aria-labelledby="deleteAllTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteAllTitle">DELETE ALL</h5>
                            <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete all items?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                            <button type="submit"  class="btn btn-danger" onclick="deleteAll()" id="deleteAllButton" >Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </tr>
    </thead>

    <tbody>
        {% for exercise in workout_table %}
        <tr>
            <th scope="row">{{exercise["id"]}}</th>
            <td>{{exercise["name"]}}</td>
            <td>{{exercise["groups"]}}</td>
            <td>{{exercise["type"]}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" onclick="editExercise({{exercise['id']}})" id="edit-{{exercise['id']}}" class="btn btn-outline-primary">Edit</button>
                    <button type="button"  class="btn btn-outline-danger"
                        data-toggle="modal" data-target="#deleteModal{{exercise['id']}}">Delete</button>
                </div>
            </td>
        </tr>

        <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{exercise['id']}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle{{exercise['id']}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalTitle{{exercise['id']}}">Confirm</h5>
                                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this item?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                    <button type="submit"  onclick="deleteExercise({{exercise['id']}})" id="delete-{{exercise['id']}}" class="btn btn-outline-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>


        {% endfor %}
    </tbody>

</table>


{% endblock %}