{% extends "layout.html" %}

{% block title %}Saved Workout{% endblock %}




{% block main %}

    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAllWorkouts">Delete All</button>

    <!-- Modal for delete all confirmation-->
    <div class="modal fade" id="deleteAllWorkouts" tabindex="-1" role="dialog" aria-labelledby="deleteAllWorkoutsTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAllWorkoutsTitle">DELETE ALL</h5>
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete all saved workouts?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit"  onclick="deleteAllWorkouts()" id="deleteAllWorkoutsButton" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>




    <p class="h2"><u>Saved Workouts</u></p>



    <div class="row">
        <div class="col-6">
            <div class="list-group" id="list-tab" role="tablist">
            {% set workout = {'workoutID': "", 'workoutName': "", 'date': ""} %}
            {% for id in ids %}
                {% for workout_ in saved %}
                    {% if workout_["workoutID"] == id %}
                    <!----https://fabianlee.org/2016/10/18/saltstack-setting-a-jinja2-variable-from-an-inner-block-scope/-->
                        {% if workout.update({'workoutID': workout_["workoutID"], 'workoutName': workout_["workoutName"], 'date': workout_["date"] }) %}{% endif %}
                    {% endif %}
                {% endfor %}
                {% if loop.index == 1 %}
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#workoutList{{id}}" role="tab" aria-controls="-workoutList{{id}}" id="-workoutList{{id}}">
                {% else %}
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#workoutList{{id}}" role="tab" aria-controls="-workoutList{{id}}" id="-workoutList{{id}}">
                {% endif %}
                    <div class="d-flex w-100 justify-content-between savedWorkout">
                        <h5 class="mb-1">{{ workout["workoutName"]}}</h5>


                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" onclick="editWorkout({{id}})" id="edit-{{id}}" class="btn btn-outline-dark">Edit</button>
                            <button type="button"  class="btn btn-outline-danger"
                                data-toggle="modal" data-target="#deleteWorkoutModal{{id}}">Delete</button>
                        </div>

                    </div>

                    <p class="mb-1">Last Edited: {{workout["date"]}}</p>
                </a>
            {% endfor %}
            </div>


        </div>


        <!-- List tab for workout display/-->
        <div class="col-6">
            <div class="tab-content" id="nav-tabContent">
                {% for id in ids %}
                    {% for workout_ in saved %}
                        {% if workout_["workoutID"] == id %}
                            <!----https://fabianlee.org/2016/10/18/saltstack-setting-a-jinja2-variable-from-an-inner-block-scope/-->
                            {% if workout.update({'workoutID': workout_["workoutID"], 'workoutName': workout_["workoutName"], 'date': workout_["date"] }) %}{% endif %}

                        {% endif %}
                    {% endfor %}

                {% if loop.index == 1 %}
                <div class="tab-pane fade show active" id="workoutList{{id}}" role="tabpanel" aria-labelledby="-workoutList{{id}}">
                {% else %}
                <div class="tab-pane fade" id="workoutList{{id}}" role="tabpanel" aria-labelledby="-workoutList{{id}}">
                {% endif %}
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-center">
                                <h5 class="mb-1"><b><u>{{workout["workoutName"]}}</u></b></h5>
                            </div>
                            {% for workout_ in saved %}
                                {% if workout_["workoutID"] == id %}
                                    <p class="mb-1"><b>{{workout_["exerciseName"]}}</b></p>
                                    <small>Sets: {{workout_["setCount"]}}</small>
                                    <small>Reps: {{workout_["repCount"]}}</small>
                                    <small>Weight: {{workout_["weight"]}} lbs.</small>
                                {% endif %}
                            {% endfor %}
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>



    {% for id in ids %}
    <!-- Modal for deletion confirmation/-->
    <div class="modal fade" id="deleteWorkoutModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="deleteWorkoutModalTitle{{id}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteWorkoutModalTitle{{id}}">Confirm</h5>
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this workout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit"  onclick="deleteWorkout({{id}})" id="deletew-{{id}}" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}