{% extends "layout.html" %}

{% block title %}
Your Workout
{% endblock %}

{% block main %}
<div id="workout-page">

    <p class="h2"><u>Your Random Workout</u></p>



    <div class="list-group">


        {% for workout in workouts %}
            <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="workout-container">
                <div>
                  <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{ workout["name"] }}</h5>
                  </div>
                  <br/>
                    <dl class="row ex-info">
                      <dt class="col-sm-3">Muscle Group:</dt>
                      <dd class="col-sm-9">{{ workout["muscle"] }}</dd>
                      <dt class="col-sm-3">Exercise Type:</dt>
                      <dd class="col-sm-9">{{ workout["type"] }}</dd>
                      <dt class="col-sm-3">Equipment:</dt>
                      <dd class="col-sm-9">{{ workout["equipment"] }}</dd>
                      <dt class="col-sm-3">Difficulty:</dt>
                      <dd class="col-sm-9">{{ workout["level"] }}</dd>
                    </dl>
                </div>
                <div id="workout-img-div" link="{{workout['img']}}">
                    {% for link in workout["imgList"] %}
                        <img class="workout-img" src="{{link}}"/>
                    {% endfor %}
                </div/>
              </div>
            </a>

        {% endfor %}
    </div>

    {% if loggedIn == 1%}
        <div class="saveWorkout">
            <button type="button" class="btn btn-success" id="saveWorkout" name="saveWorkout" onclick="saveWorkout({{workouts}})">Save Workout</button>
            <div class="alert alert-warning" id="createAlert" role="alert" style="display: none">
                You already have the max of 10 workouts, you need to delete some to create more
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}
