{% extends "layout.html" %}

    {% block title %}
        Random Workout Generator
    {% endblock %}

{% block main %}

    <div role="alert" id="alert">
    </div>

    <p class="h2">Workout Options</p>

    <form id="workout_form" action="/workout" method="post">
        <div class="form-group row">
            <label for="number" class="col-sm-2 col-form-label">Number of Workouts</label>
            <div class="col-sm-10">
                <select class="form-control" id="number" name="number">
                    {% for i in range(12) %}
                        <option value="{{i + 1}}">{{i + 1}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row selection-group">
            <div class="col-sm-2">Muscle Groups</div>
            <div class="col-sm-10">
                {% for muscle in MUSCLES %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name={{muscle}} id={{muscle}} checked>
                        <label class="form-check-label" for={{muscle}}>
                            {{muscle}}
                        </label>
                    </div>
                {% endfor %}
          </div>
        </div>

        <div class="form-group row selection-group">
            <div class="col-sm-2">Workout Types</div>
            <div class="col-sm-10">
                {% for type in TYPES %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name={{type}} id={{type}} checked>
                        <label class="form-check-label" for={{type}}>
                            {{type}}
                        </label>
                    </div>
                {% endfor %}
          </div>
        </div>

        <div class="form-group row selection-group">
            <div class="col-sm-2">Equipment</div>
            <div class="col-sm-10">
                {% for equipment in EQUIPMENTS %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name={{equipment}} id={{equipment}} checked>
                        <label class="form-check-label" for={{equipment}}>
                            {{equipment}}
                        </label>
                    </div>
                {% endfor %}
          </div>
        </div>

        <div class="form-group row selection-group">
            <div class="col-sm-2">Difficulty Level</div>
            <div class="col-sm-10">
                {% for level in LEVELS %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name={{level}} id={{level}} checked>
                        <label class="form-check-label" for={{level}}>
                            {{level}}
                        </label>
                    </div>
                {% endfor %}
          </div>
        </div>

        <button type="submit" id="generate_button" class="btn btn-primary btn-lg butt">Generate Workout</button>
    </form>

{% endblock %}
